.footer-container {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 40px 20px;
  font-family: var(--font-family-roboto);
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around; /* Distribuye el espacio uniformemente */
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px; /* Añade un espacio entre las columnas */
}

.footer-logo-section {
  flex: 1; /* Permite que esta sección ocupe espacio */
  min-width: 200px; /* Ancho mínimo para el logo */
  display: flex; /* Para centrar el logo si es necesario */
  justify-content: flex-start; /* Alinea el logo a la izquierda */
  align-items: center; /* Centra el logo verticalmente */
}

.footer-logo {
  max-width: 180px; /* Ajusta el tamaño máximo del logo */
  height: auto;
}

.footer-section {
  margin: 0; /* Elimina los márgenes existentes para usar gap en footer-content */
  padding: 10px 0; /* Añade padding interno si es necesario */
  flex: 1; /* Permite que las secciones se distribuyan */
  min-width: 200px; /* Ancho mínimo para cada sección */
  text-align: center; /* Centra el texto y los elementos en la sección */
}

.footer-section h3 {
  font-size: var(--font-size-lg);
  margin-bottom: 15px;
  text-transform: uppercase;
}

.social-icons {
  display: flex;
  gap: 10px; /* Espacio entre los iconos sociales */
  justify-content: center; /* Centra los iconos socialmente */
}

.social-icons a {
  color: var(--color-white);
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #646cff;
}

.contact-info, .location-info {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra la información de contacto */
  gap: 10px;
}

.contact-info a,
.location-info p {
  color: var(--color-white);
  text-decoration: none;
  margin: 0;
  text-align: center; /* Asegura que el texto también esté centrado */
}

.contact-info a:hover {
  text-decoration: underline;
}

.footer-bottom {
  font-size: var(--font-size-sm);
  margin-top: 20px;
  text-align: center; 
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 20px;
}

.footer-bottom .location-info {
  justify-content: center;
  margin-bottom: 10px;
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px; /* Aumenta el espacio entre secciones en móvil */
  }

  .footer-logo-section {
    margin-bottom: 0; /* Elimina el margen inferior si ya hay gap */
    justify-content: center; /* Centra el logo en móvil */
  }

  .footer-logo{
    margin: 0 auto; /* Centra el logo en móvil */
  }

  .social-icons,
  .contact-info,
  .footer-bottom .location-info {
    justify-content: center; /* Centra los elementos en móvil */
  }

  .footer-section {
    text-align: center; /* Centra el texto de las secciones en móvil */
  }
}